@model ClientInfo

<div>
    <strong>Device</strong>
    <span class=@(Model.Device.IsSpider ? "spider" : null)>
        @Model.Device.Brand, @Model.Device.Family, @Model.Device.Model
    </span>
    <br />
    <strong>Operating System</strong>
    <span>
        @Model.OS.Family, @Model.OS.Major @Model.OS.Minor @Model.OS.Patch @Model.OS.PatchMinor
    </span>
    <br />
    <strong>User Agent</strong>
    <span>
        @Model.UA.Family, @Model.UA.Major @Model.UA.Minor @Model.UA.Patch
    </span>
    <br />
    <strong>Culture</strong>
    <span>@CultureInfo.CurrentCulture.TextInfo.CultureName</span>
    <br />
    <strong>UI Culture</strong>
    <span>@CultureInfo.CurrentUICulture.TextInfo.CultureName</span>

</div>