@model LoginWithPassword
    <h2>Bonjour! Again</h2>
    <form method="post" name=@LogInForm.Name asp-controller="LogIn" asp-action="Index" asp-route-backto="@ViewData["backto"]">
        <fieldset>
            <legend>@sr["Log In"]</legend>
            <div>
                <label asp-for="Password">
                    <span>@sr["Password"]</span>
                    <input asp-for="Password" placeholder=@sr["Password"] />
                    <span asp-validation-for="Password"></span>
                </label>
            </div>
            <div>
                <label asp-for="Email">
                    <span>@sr["Email"]</span>
                    <input asp-for="Email" placeholder=@sr["Email"] />
                    <span asp-validation-for="Email"></span>
                </label>
            </div>

            <div>
                <label asp-for="Persistent">
                    <span>@sr["Remember Me?"]</span>
                    <input asp-for="Persistent" />
                </label>
            </div>
        </fieldset>
        <div>
            <vc:form-actions form-name=@LogInForm.Name></vc:form-actions>
        </div>        
    </form>