<!DOCTYPE html>

<html lang="@CultureInfo.CurrentCulture.TextInfo.CultureName">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("Title", true)</title>

    <link rel="stylesheet" type="text/css" href="/css/app.css" asp-append-version="true" />

</head>
<body>
    <header>
        @RenderSection("Header", false)
    </header>
    <aside>
        @RenderSection("Aside", false)
    </aside>
    <main>
        @RenderBody()
    </main>


    <environment include="Development">
        <vc:host-picker></vc:host-picker>
        <vc:language-picker></vc:language-picker>
        @CultureInfo.CurrentCulture
        <br />
        @CultureInfo.CurrentUICulture
        <br />
        <vc:user-agent-info></vc:user-agent-info>
        <client-info>
            <strong slot="languageslabel">@sr["Client Languages"]</strong>
            <strong slot="languagelabel">@sr["Client Language"]</strong>
            <strong slot="agentlabel">@sr["User Agent"]</strong>
        </client-info>
        <vc:build-info></vc:build-info>
        <mini-profiler position="RenderPosition.BottomRight" />
    </environment>
    <footer>

    </footer>


    <script src="/js/webcomponentsjs/custom-elements-es5-adapter.js"></script>
    <script src="/js/webcomponentsjs/webcomponents-loader.js"></script>
    <script src="/js/app.js" type="text/javascript" asp-append-version="true"></script>

    @RenderSection("Scripts", false)
</body>
</html> 
