<!DOCTYPE html>

<html lang="@CultureInfo.CurrentCulture.TextInfo.CultureName">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("title", true)</title>

    <link rel="stylesheet" type="text/css" href="/css/app.css" asp-append-version="true" />

</head>
<body>

    @RenderBody()

    <span>@linkGen.GetPathByAction("Index", "Home")</span>
    <a asp-controller="Home" asp-action="Index">@sr["Home"]</a>
    <a asp-controller="Home" asp-action="About">@sr["About"]</a>
    <a asp-controller="Search" asp-action="Index">@sr["Search"]</a>

    <button>A Button</button>
    <environment include="Development">
        <vc:user-agent-info></vc:user-agent-info>
        <vc:culture-switcher></vc:culture-switcher>
        <client-info>
            <strong slot="languageslabel">@sr["Client Languages"]</strong>
            <strong slot="languagelabel">@sr["Client Language"]</strong>
            <strong slot="agentlabel">@sr["User Agent"]</strong>
        </client-info>
        <vc:build-info></vc:build-info>
        <mini-profiler position="RenderPosition.BottomRight" />
    </environment>

    <script src="/js/webcomponentsjs/custom-elements-es5-adapter.js"></script>
    <script src="/js/webcomponentsjs/webcomponents-loader.js"></script>
    <script src="/js/app.js" type="text/javascript" asp-append-version="true"></script>
</body>
</html> 
